"*":
  "exception-reporting":
    userId: "d97c76cd-55eb-4da9-ac41-df4ba39d78e4"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 12
  racer:
    rustSrcPath: "/Users/csmith/work/rust/external/rust/src"
    racerBinPath: "/Users/csmith/work/rust/external/racer/target/release/racer"
  "vim-mode": {}
  "linter-rust": {}
